*{

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} 

.hero{

    width: 100%;
    height: 100vh;
    background-image: url("/images/back.png");
    background-size: cover;
    background-position: center;
    position: relative;

background-color: #F2F2F2;

}

h1{
    color:black;
}